#button {
    width: 100%;
    margin-bottom: 5%;
}

.tableMargin{
    margin: 5% 4%;
}

mat-header-cell{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

mat-cell{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

// .darkFont{
//     font-weight: 25px;
// }

