<div class="margin" *ngIf="_loginService.isTeacher()">
  <form [formGroup]="performanceForm">
    <mat-form-field appearance="outline">
      <mat-label>Student ID</mat-label>
      <input type="text" formControlName="studentId" id="studentId" matInput placeholder="Enter Student ID" (keyup)="valueEnter($event.target.value)"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let result of searchResult" [value]="result">
          {{result}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="errors">
      <div *ngIf="notFound">Student ID not found in Records</div>
      <div *ngIf="studentId.touched && studentId.invalid && studentId.errors.required">Student ID is Required</div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Exam Type</mat-label>
      <mat-select formControlName="exam" id="exam">
        <mat-option *ngFor="let exams of examList" [value]="exams">
          {{exams}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="errors" *ngIf="exam.touched && exam.invalid">
      <div *ngIf="exam.errors.required">Exam Type is Required</div>
    </div>

    <div *ngFor="let sub of subList">
      <mat-form-field appearance="outline">
        <mat-label>{{sub | titlecase}}</mat-label>
        <input type="text" formControlName="{{sub}}" id="{{sub}}" matInput placeholder="Enter mark">
      </mat-form-field>
    </div>
  </form>
  <div class="errors" *ngIf="error">Marks Should not be null, non negative, not greater than 100 and should contain
    only numbers</div>
  <app-footer id="footer" submit="Submit" cancel="Cancel" [valid]="performanceForm.valid && !notFound && !buttonDisable"
    (card)="submit()"></app-footer>
</div>

<div class="tableMargin" *ngIf="_loginService.isStudent()">
  <div>
    <app-bar-chart [t1]="t1" [qy]="qy" [t2]="t2" [hy]="hy" [t3]="t3" [ft]="ft"></app-bar-chart>
  </div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <mat-header-cell *matHeaderCellDef [ngClass]="(column=='total')?'darkFont':''"> {{column | titlecase}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<div class="loading-indicator" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>