.flexbox-container{
    display: flex;
    justify-content: center;
}

.flexbox-item{
    width: 50%;
    margin: 2% 2% 0 2%;
    min-height: 100px; 
}

.flex-image {
    max-height: 50%;
    max-width: 40%;
    display: flex;
    margin: auto;
    margin-top: 16px;
    margin-bottom: -12px;
    align-items: center;
    justify-content: center;
}

// .image{
//     margin-top: -0px;
//     margin-bottom: -30px;
//     border-radius: 100% !important;
//     padding: 5%;
//     margin-bottom: 0px;
//     box-shadow: 0 30px 40px -20px ;
//     // -webkit-box-shadow: 0 8px 6px -6px black;
//     // -moz-box-shadow: 0 8px 6px -6px black;
//     //      box-shadow: 0 8px 6px -6px black;
//     display: block;
//     position: relative;
//     padding: 16px;
//     border-radius: 4px;
// }

h2,h3{
    margin: 8px;
}

.height{
    max-height: 50%!important;
}