<div class="flexbox-container">
    <div class="flexbox-item">
        <div class="image">
            <img mat-card-image class="radius" src="../../assets/school.jpg">
        </div>
    </div>
    <div class="flexbox-item">
        <h2>Prabhakar</h2>
        <h3>Class 10 A Sec</h3>
        <h3>St Joseph School</h3>
    </div>
</div>

<div class="flexbox-container">
    <div class="flexbox-item">
        <app-cards image="attendance"></app-cards>
    </div>
    <div class="flexbox-item">
        <app-cards image="assignments"></app-cards>
    </div>
</div>
<div class="flexbox-container">
    <div class="flexbox-item">
        <app-cards image="timetable"></app-cards>
    </div>
    <div class="flexbox-item">
        <app-cards image="calendar"></app-cards>
    </div>
</div>