<div *ngIf="_loginService.isAuthenticated()">
    <div class="flex-image">
        <img mat-card-image class="radius" src="assets/school.jpg">
    </div>

    <div class="flexbox-container">
        <div class="flexbox-item">
            <app-cards image="attendance" (card)="clickHandle($event)"></app-cards>
        </div>
        <div class="flexbox-item">
            <app-cards image="assignments" (card)="clickHandle($event)"></app-cards>
        </div>
    </div>
    <div class="flexbox-container">
    </div>
    <div class="flexbox-container">
        <div class="flexbox-item">
            <app-cards image="messages" (card)="clickHandle($event)"></app-cards>
        </div>
        <div class="flexbox-item">
            <app-cards image="holiday" (card)="clickHandle($event)"></app-cards>
        </div>
    </div>
    <div class="flexbox-container">
    </div>
    <div class="flexbox-container">
        <div class="flexbox-item">
            <app-cards image="performance" (card)="clickHandle($event)"></app-cards>
        </div>
        <div class="flexbox-item">
            <app-cards image="fee_details" (card)="clickHandle($event)"></app-cards>
        </div>
    </div>
    <div class="flexbox-container">
    </div>
</div>