<div class="margin" *ngIf="_loginService.isTeacher()">
  <form [formGroup]="assignmentForm">
    <mat-form-field appearance="outline">
      <mat-label>Class</mat-label>
      <mat-select formControlName="class" id="class" (selectionChange)="classSelect($event.value)">
        <mat-option *ngFor="let classes of allClass" [value]="classes">
          {{classes}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="errors" *ngIf="class.touched && class.invalid">
      <div *ngIf="class.errors.required">Class is Required</div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Section</mat-label>
      <mat-select formControlName="section" id="section">
        <mat-option *ngFor="let section of allSection" [value]="section">
          {{section}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="errors" *ngIf="section.touched && section.invalid">
      <div *ngIf="section.errors.required">Section is Required</div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Subjects</mat-label>
      <mat-select formControlName="subject" id="subject">
        <mat-option *ngFor="let subjects of allSubjects" [value]="subjects">
          {{subjects}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="errors" *ngIf="subject.touched && subject.invalid">
      <div *ngIf="subject.errors.required">Subject is Required</div>
    </div>

    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Enter Description" (input)="onChange($event)" formControlName="description"
        rows="10">
       </textarea>
    </mat-form-field>
    <div class="warning">You have entered {{descriptionLength }} of 3500</div>
    <div class="errors" *ngIf="description.touched && description.invalid">
      <div *ngIf="description.errors.required">Description is Required</div>
      <div *ngIf="description.errors.maxlength">Description should not be more than 3500 characters</div>
    </div>

    <mat-form-field color="accent" appearance="outline">
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="dueDate" id="dueDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </mat-form-field>
    <div class="errors" *ngIf="dueDate.touched && dueDate.invalid">
      <div *ngIf="dueDate.errors.required">Due date is Required</div>
    </div>
    <div class="errors" *ngIf="dateInvalid">Due date should not be past date</div>
  </form>
  <app-footer submit="Submit" cancel="Cancel" [valid]="assignmentForm.valid" (card)="submit()"></app-footer>
</div>



<div class="loading-indicator" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>