.border{
    border: 1px solid rgba(0,0,0,.2);
}

.flexbox-container{
    display: flex;
    margin-bottom: 3px;
}

.flexbox-item1 {
    width: 100%;
    margin: 0;
}

.flexbox-item2 {
    width: 10%;
}

.chart{
    height: auto;
    width: 80%;
    margin: 0 10%;
}