<div class="margin">
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Student ID</mat-label>
      <input matInput placeholder="Enter Student ID">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Month</mat-label>
      <input matInput placeholder="Select Month">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Working Days</mat-label>
      <input matInput placeholder="Enter No. of Working Days">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Present Days</mat-label>
      <input matInput placeholder="Enter No. of Present Days">
    </mat-form-field>
  </form>
</div>