<div class="margin" *ngIf="_loginService.isTeacher()">
  <form [formGroup]="messageForm">
    <mat-form-field appearance="outline">
      <mat-label>Message To</mat-label>
      <mat-select formControlName="messageTo" id="messageTo" (selectionChange)="messageSelect($event.value)">
        <mat-option *ngFor="let type of messageTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="errors" *ngIf="messageTo.touched && messageTo.invalid">
      <div *ngIf="messageTo.errors.required">Message To is Required</div>
    </div>

    <mat-form-field appearance="outline" *ngIf="msgStudent">
      <mat-label>Student ID</mat-label>
      <input type="text" formControlName="studentId" id="studentId" matInput placeholder="Enter Student ID" (keyup)="valueEnter($event.target.value)"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let result of searchResult" [value]="result">
          {{result}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="errors" *ngIf="msgStudent">
      <div *ngIf="required">Student ID is Required</div>
    </div>

    <mat-form-field appearance="outline" *ngIf="msgClass">
      <mat-label>Class</mat-label>
      <mat-select formControlName="class" id="class">
        <mat-option *ngFor="let classes of allClass" [value]="classes">
          {{classes}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="errors" *ngIf="msgClass">
      <div *ngIf="required">Class is Required</div>
    </div>

    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Enter Message" (input)="onChange($event)" formControlName="message" rows="10">
       </textarea>
    </mat-form-field>
    <div class="warning">You have entered {{descriptionLength }} of 1000</div>
    <div class="errors" *ngIf="message.touched && message.invalid">
      <div *ngIf="message.errors.required">Message is Required</div>
      <div *ngIf="message.errors.maxlength">Message should not be more than 1000 characters</div>
    </div>

  </form>
  <app-footer submit="Submit" cancel="Cancel" [valid]="messageForm.valid" (card)="submit()"></app-footer>
</div>

<div *ngIf="_loginService.isStudent()">
  <mat-tab-group>
    <mat-tab label="Class Message">
      <div class="cardsMargin" *ngFor="let data of classMessage">
        <mat-card class="border">
          <mat-card-subtitle>{{data.created_on | date}}</mat-card-subtitle>
          <mat-card-content>
            {{data.message}}
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Student Message">
      <div class="cardsMargin" *ngFor="let data of studentMessage">
        <mat-card class="border">
          <mat-card-subtitle>{{data.created_on | date}}</mat-card-subtitle>
          <mat-card-content>
            {{data.message}}
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="loading-indicator" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>